<% provide(:title, "Contact") %>
<!DOCTYPE html>

<html>
    <head>
        <title><%= yield(:title) %> | Marcel Anton</title>
        
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
        <h1>Contact</h1>
        
        <p>Welcome to the contact page of the zen blog.</p>
        
    </body>
</html>