<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
       
        <div class="myjumbotron">
            
            <div class="myh1">Marcel Anton</div>
            
            <h2>Engaging the Spirit</h2>

            <p>Music, Healing, Love and other mischievous celebrations of the Great Spirit.</p>

            <%= link_to "Membership Sign up", signup_path, class: "btn btn-lg btn-primary" %>
            <br>
            
            <!----image personalblog.png--->
            
    
        </div>
</body>
</html>